@import '../../scss/variables';

.signIn {
    background: $panel;
    border-top: 1px solid $grey300;
    border-right: 1px solid $grey50;
    border-bottom: 1px solid $grey50;
    border-left: 1px solid $grey350;
    border-radius: $borderRadius;
    max-width: 320px;
    margin: 30vh auto;
    padding: 2rem;

    .error {
        color: $red300;
    }

    form {
        margin-bottom: 2rem;
    }
    
    button {
        display: block;
        width: 100%;
    }

    p {
        line-height: 1.5;
    }

    a { 
        color: white;

        &:hover {
            color: $gold;
        }
    }
}