@import '../../scss/variables';

.panel {

    h3 {
        color: $gold;
        font-weight: 300;
    }

    .tabs {
        background: $panel;
        border-top: 1px solid $grey300;
        border-right: 1px solid $grey50;
        border-bottom: 1px solid $grey50;
        border-left: 1px solid $grey350;
        border-radius: $borderRadius;
        padding: 0;
        margin: 0 0 2rem;

        li {
            display: inline-block;
            list-style-type: none;
            padding: 1rem;

            &:hover {
                background: $grey300;
                cursor: pointer;
            }

            &.active {
                color: $grey100;
                background: $gold;

                &:hover {
                    cursor: default;
                }
            }
        }

    }

    .sectionGroup {
        display: inline-block;
    }
    
    section {
        background: $panel;
        border-top: 1px solid $grey300;
        border-right: 1px solid $grey50;
        border-bottom: 1px solid $grey50;
        border-left: 1px solid $grey350;
        border-radius: $borderRadius;
        display: inline-block;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        text-align: center;
        vertical-align: top;
        height: 30%;
        width: auto;
    
        > h2 {
            text-align: center;
        }
    
        > .subSection {
            display: block;
            height: 6rem;
        }

        > .subSectionFull {
            display: block;
            height: 12rem;
        }

        > .subSectionExtra {
            display: block;
            height: 18rem;
        }
    }    
}

