@import-normalize;
@import './scss/variables';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background: $panel;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    
    > * {
        color: $panelText;
        letter-spacing: 1px;
    }
}

label {
    display: block;
    margin-bottom: .5rem;
}

button {
    display: block;
}

fieldset {
    // border: $border;
    border-color: $grey350;
    display: inline-block;
    margin-top: 2rem;
    margin-right: 1rem;
    padding: .5rem .5rem 0;
    vertical-align: top;
    width: auto;

    > legend {
        text-transform: uppercase;
    }
}

.midiOptions {
    border-bottom: $border;
    padding: 0 0 1rem;

    > li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1rem;
    }
}

