@import '../../scss/variables';

.settings {
    border-bottom: $border;
    padding: 1rem 0;

    > li {
        display: inline-block;
        list-style-type: none;
        margin: 0 1.5rem 1rem 0;
    }
}
