@import '../../scss/variables';

.settings {

    .panel {
        box-sizing: border-box;
        
        background: $panel;
        border-top: 1px solid $grey300;
        border-right: 1px solid $grey50;
        border-bottom: 1px solid $grey50;
        border-left: 1px solid $grey350;
        border-radius: $borderRadius;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0rem 1rem 1rem;
        width: 100%;

        ul {
            padding: 0 0 .5rem;
        }
    
        li {
            list-style-type: none;
            margin: 0 0 1rem;
            list-style-type: none;
        }
    
        label {
            font-size: .5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
    }
    
}
